<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://www.paragon-studios.xyz/assets/meta.png" />
    <meta name="description" content="Paragon Studios is a development group on Roblox. We make games, services, templates, and more for Roblox. We accept anyone who wants to contribute, just join our Discord server or make pull requests." />
    <meta name="theme-color" content="#47A4FE" />
    <title>{{ title }}</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/favicon.ico">
    <link
      rel="stylesheet"
      type="text/css"
      href="css/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li class="boxed">
          <a class="home" href="/"><img alt="Home" src="assets/meta.png" /></a>
        </li>
        <li>
          <a class="navbtn" href="contribute.html">Contribute</a>
        </li>
      </ul>
    </nav>
    <main>
      {{ content }}
    </main>
    <footer>
      <hr>
      <p>Copyright &copy; {{ "now" | date: "%Y" }}, Paragon Studios</p>
    </footer>
  </body>
</html>
