<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://www.paragon-studios.xyz/assets/meta.png" />
    <meta name="description" content="Paragon Studios is a development group on Roblox. We make games, services, templates, and more for Roblox. We accept anyone who wants to contribute, just join our Discord server or make pull requests." />
    <meta name="theme-color" content="#47A4FE " />
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a target="_blank" class="navbtn" href="https://github.com/Paragon-Studios">GitHub</a></li>
        <li><a target="_blank" class="navbtn" href="https://discord.gg/7Up7E66yZZ">Discord</a></li>
      </ul>
    </nav>
    <main>{{ content | safe }}</main>
    <footer>
      <hr>
      <p>Copyright &copy; {{ creation_date | date("YYYY") }}, Paragon Studios</p>
    </footer>
  </body>
</html>
